<a href="https://colab.research.google.com/github/antonyYG/pandasEjercicios/blob/main/Ejercicios_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Ejercicio 1

In [ ]:
fechas = ['2000-2005','2006-2010','2011-2015','2016-2020','2021-2025',]
ventas=[]
for rango in fechas:
  a = int(input(f"Ingrese la venta en el rango de {rango}: "))
  ventas.append(a)
Serie = pd.Series(ventas,index=fechas)
print("\nVentas originales:")
print(Serie)
serieDescuento = Serie * 0.9
print("\nVentas con 10% de descuento:")
print(serieDescuento)

Ingrese la venta en el rango de 2000-2005: 12000
Ingrese la venta en el rango de 2006-2010: 13000
Ingrese la venta en el rango de 2011-2015: 14000
Ingrese la venta en el rango de 2016-2020: 14000
Ingrese la venta en el rango de 2021-2025: 15000

Ventas originales:
2000-2005    12000
2006-2010    13000
2011-2015    14000
2016-2020    14000
2021-2025    15000
dtype: int64

Ventas con 10% de descuento:
2000-2005    10800.0
2006-2010    11700.0
2011-2015    12600.0
2016-2020    12600.0
2021-2025    13500.0
dtype: float64

Ejercicio 2

In [ ]:
def estadisticas_notas(dic_notas):
    notas = pd.Series(dic_notas)
    resumen = pd.Series({
        'Nota mínima': notas.min(),
        'Nota máxima': notas.max(),
        'Nota media': notas.mean(),
        'Desviación típica': notas.std()
    })
    return resumen
notas = {
    'Juan': 15,
    'María': 18,
    'Luis': 13,
    'Ana': 17
}

resultado = estadisticas_notas(notas)
print(resultado)

Nota mínima          13.000000
Nota máxima          18.000000
Nota media           15.750000
Desviación típica     2.217356
dtype: float64

Ejercicio 3

In [ ]:
def obtener_aprobados(dicNotas):
    nota = pd.Series(dicNotas)
    aprobados = nota[nota >= 11]
    ordenados = aprobados.sort_values(ascending=False)
    return ordenados

notas_alumnos = {
    'Juan': 8,
    'María': 14,
    'Luis': 11,
    'Ana': 17,
    'Pedro': 9
}

resultado = obtener_aprobados(notas_alumnos)
print(resultado)

Ana      17
María    14
Luis     11
dtype: int64

Ejercicio 4

In [ ]:
datos = {
    'Mes':['Enero','Febrero','Marzo','Abril'],
    'Ventas':[30500 ,35600 ,28300,33900 ],
    'Gastos':[22000,23400,18100,20700]
}
df = pd.DataFrame(datos)
df[df['Mes'] == 'Enero']['Ventas']

0    30500
Name: Ventas, dtype: int64

Ejercicio 5

In [ ]:
def data(tabla):
  tab = pd.DataFrame(tabla)
  return tab
datos = {
    'Mes':['Enero','Febrero','Marzo','Abril'],
    'Ventas':[30500 ,35600 ,28300,33900 ],
    'Gastos':[22000,23400,18100,20700]
}
resultado = data(datos)
print(resultado)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

Ejercicio 6

In [ ]:
def cotizacion(data):
  tab = pd.DataFrame(data)

Ejercicio 7

In [5]:
df = pd.read_csv('titanic.csv',index_col="PassengerId")

In [6]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df.shape

(891, 11)

In [10]:
df.count().sum()

np.int64(8935)

In [14]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
df.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [16]:
df.tail(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [18]:
df.loc[148]

Survived                                   0
Pclass                                     3
Name        Ford, Miss. Robina Maggie "Ruby"
Sex                                   female
Age                                      9.0
SibSp                                      2
Parch                                      2
Ticket                            W./C. 6608
Fare                                  34.375
Cabin                                    NaN
Embarked                                   S
Name: 148, dtype: object

In [22]:
df[df.index % 2 == 0]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [28]:
df[df['Pclass'] == 1]['Name'].sort_values()

PassengerId
731                      Allen, Miss. Elisabeth Walton
306                     Allison, Master. Hudson Trevor
298                       Allison, Miss. Helen Loraine
499    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
461                                Anderson, Mr. Harry
                            ...
156                        Williams, Mr. Charles Duane
352             Williams-Lambert, Mr. Fletcher Fellows
56                                   Woolner, Mr. Hugh
556                                 Wright, Mr. George
326                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

In [29]:
survival_counts = df['Survived'].value_counts(normalize=True) * 100
print("Porcentaje que murieron (0):", round(survival_counts[0], 2), "%")
print("Porcentaje que sobrevivieron (1):", round(survival_counts[1], 2), "%")

Porcentaje que murieron (0): 61.62 %
Porcentaje que sobrevivieron (1): 38.38 %

In [30]:
survival_by_class = df.groupby('Pclass')['Survived'].mean() * 100
for pclass, percentage in survival_by_class.items():
    print(f"Clase {pclass}: {round(percentage, 2)}% sobrevivieron")

Clase 1: 62.96% sobrevivieron
Clase 2: 47.28% sobrevivieron
Clase 3: 24.24% sobrevivieron

In [31]:
df.dropna(subset=['Age'])

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [32]:
edad_media_mujeres = df[df['Sex'] == 'female'].groupby('Pclass')['Age'].mean()
print("Edad media de mujeres por clase:")
print(edad_media_mujeres)

Edad media de mujeres por clase:
Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64

In [34]:
df['MenorDeEdad'] = df['Age'] < 18
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,MenorDeEdad
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,False
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,False
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,False
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,False

In [35]:
supervivencia_menores = df.groupby(['Pclass', 'MenorDeEdad'])['Survived'].mean() * 100
print("Porcentaje de supervivencia por clase y edad:")
for (pclass, menor), porcentaje in supervivencia_menores.items():
    tipo = "Menor" if menor else "Mayor"
    print(f"Clase {pclass} - {tipo} de edad: {round(porcentaje, 2)}% sobrevivieron")

Porcentaje de supervivencia por clase y edad:
Clase 1 - Mayor de edad: 61.27% sobrevivieron
Clase 1 - Menor de edad: 91.67% sobrevivieron
Clase 2 - Mayor de edad: 40.99% sobrevivieron
Clase 2 - Menor de edad: 91.3% sobrevivieron
Clase 3 - Mayor de edad: 21.79% sobrevivieron
Clase 3 - Menor de edad: 37.18% sobrevivieron